pantry.db
__pycache__/
*.pyc
static/latest_scan.jpg

*.kicad_prl
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_sch.lck
*.kicad_pcb.lck
fp-info-cache
*.zip

.vscode/
.log
schematics/#auto_saved_files#
static/
__pycache__/